body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.background {
    background-image: url('../images/background.jpg');
    min-height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: 48% 18%;
}

.section {
    background-color: #f3f3f3;
    min-height: 60vh;
    position: relative;
    padding: 60px 0;
    box-sizing: border-box;

    .title-box {
        background: rgba(0, 0, 0, 0.418);
        padding: 20px;
        font-family: 'Anton', sans-serif;
        width: 30%;
        text-align: center;
        position: absolute;
        top: -61px;
        left: 50%;
        color: #fff;
        transform: translateX(-50%);

        .title {
            font-size: 30px;
            margin: 0;
        }

        .version {
            font-size: 14px;
            margin: 0;
        }
    }

    .paragrph-box {
        max-width: 970px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 42px;
        min-height: 108px;
        position: relative;
        padding: 0 25px;
        z-index: 1;

        &::before {
            position: absolute;
            height: 80px;
            width: 86px;
            background: #e6f339;
            content: "";
            left: 27px;
            z-index: 0;
            top: -28px;
        }

        &::after {
            position: absolute;
            height: 80px;
            content: "";
            background: #6172bf;
            width: 86px;
            z-index: 0;
            right: 40px;
            bottom: -8px;
        }

        .paragraph {
            display: inline-block;
            margin: 0;
            font-size: 22px;
            position: relative;
            z-index: 1;
        }
    }

    .generate-btn {
        width: 230px;
        background: #0fc32f;
        border: none;
        color: #fff;
        padding: 10px 34px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
        margin: 0 auto;
        display: block;

        &:hover {
            background: #0c9224;
        }
    }
}

/*-----media queries------*/

@media (max-width: 719px) {
    .section .title-box .title {
        font-size: 25px;
    }
}

@media (max-width: 632px) {
    .section .title-box {
        width: 50%;
    }
}

@media (max-width: 439px) {
    .section .paragrph-box .paragraph {
        font-size: 19px;
    }
}

@media (max-width: 369px) {
    .section .title-box {
        width: 55%;
    }
}